* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: 'Raleway';
  font-weight: normal;
}

p {
  color: #333;
  font-family: 'Raleway';
}

/* NAV PORTION */
  nav {
    background-color: #fff;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
    display: flex;
    font-family: 'Raleway';
    justify-content: space-around;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .logo-container {
    display: flex;
    align-items: center;
    transition: 750ms;
    width: 150px;
  }

  .logo {
    color: #333;
    font-size: 28px;
    margin: 0;
    text-decoration: none;
    transition: 250ms;
  }

  .logo:hover {
    color: #79cad1 !important;
  }

  .outer-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 250ms;
    width: auto;
  }

  .nav-link {
    color: #333;
    text-decoration: none;
    transition: 200ms;
  }

  .current-nav-link-highlight {
    background-color: #79CAD1;
  }

  .nav-link:hover {
    background-color: #79CAD1;
    color: #fff;
  }

  .nav-link-main {
    font-size: 20px;
    padding: 18px 15px;
  }

  .nav-link-minor {
    padding: 20px 15px;
  }
/* NAV PORTION ENDS */


.main {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 8.25% 0;
  width: 100vw;
}

.left-sidebar {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  padding: 0 20px;
}

.sidebar-container {
  margin: 20px 0;
}

.sidebar-header {
  font-weight: bold;
}

.sidebar-inner-container {
  margin: 10px 0 0;
}

.products-container {
  display: flex;
  flex-basis: 66%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-container {
  margin: 0 4.15% 75px;
  width: 25%;
}

.product-image {
  width: 100%;
}