* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: 'Raleway';
  font-weight: normal;
}

p {
  color: #333;
  font-family: 'Merriweather';
}

/* NAV PORTION */
  nav {
    display: flex;
    font-family: 'Raleway';
    justify-content: space-around;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .logo-container {
    display: flex;
    align-items: center;
    transition: 750ms;
    width: 50%;
  }

  .logo {
    color: #efefef;
    font-size: 28px;
    margin: 0 0 0 120px;
    text-decoration: none;
    transition: 250ms;
  }

  .logo:hover {
    color: #79cad1 !important;
  }

  .outer-nav-container {
    /* background-color: #eee; */
    display: flex;
    align-items: center;
    /* height: 60px; */
    justify-content: space-between;
    transition: 250ms;
    width: 50%;
  }

  .nav-link-container-left {
    margin: 0 0 0 60px;
  }

  .nav-link-container-right {
    margin: 0 60px 0 0;
  }

  .nav-link {
    color: #333;
    text-decoration: none;
    transition: 200ms;
  }

  .nav-link:hover {
    background-color: #79CAD1;
    color: #fff;
  }

  .nav-link-main {
    font-size: 20px;
    padding: 18px 15px;
  }

  .nav-link-minor {
    padding: 20px 15px;
  }
/* NAV PORTION ENDS */

/* HERO AND PRODUCTS PORTION */
  .hero-and-products-container {
    display: flex;
    font-family: 'Merriweather';
  }

  .hero-container {
    background-image: url('hat-from-back-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 168vh;
    width: 50%;
  }

  .products-container {
    margin: 100px 0 0;
    width: 50%;
  }

  .product {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 40px;
    text-align: center;
    width: 74.25%;
  }

  .product a {
    text-decoration: none;
    color: #333;
  }

  .product a:hover {
    color: #79CAD1;
  }

  .product-image {
    height: auto;
    width: 100%;
    transition: 250ms;
  }

  .clip-path-norm {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }

  .clip-path-norm:hover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
  }

  .clip-path-opposite {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
  }

  .clip-path-opposite:hover {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }

  .product-title {
    font-size: 20px;
  }
/* HERO AND PRODUCTS PORTION */

.seperator {
  margin: 100px 0 40px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ABOUT PORTION */
  .about-container {
    height: 50vh;
  }

  .about-header {
    font-size: 32px;
    margin: 0 auto 20px;
    width: 66%;
  }

  .about-content-container {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
  }

  .about-portrait {
    padding: 0 20px;
    width: 33%;
  }

  .about-portrait img {
    border-radius: 4px;
    width: 100%;
  }

  .about-content-header {
    font-family: "Merriweather";
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  .about-content {
    font-size: 16px;
    line-height: 21px;
    max-width: 66%;
    padding: 0 20px;
  }
/* ABOUT PORTION ENDS */

/* CONTACT PORTION */
  .contact-container {
    height: 50vh;
  }

  .contact-header {
    font-size: 32px;
    margin: 0 auto 20px;
    width: 66%;
  }

  .contact-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 700px;
  }

  .contact-form-input {
    border: solid 1px #333;
    margin: 0 0 30px;
    padding: 10px 0 10px 4%;
    transition: 250ms;
    width: 45%;
  }

  .contact-form-input:focus {
    border: solid 1px #79cad1;
    font-size: 12px;
  }

  .contact-form-textarea {
    border: solid 1px #333;
    padding: 10px 0 10px 4%;
    transition: 250ms;
    width: 90%;
  }

  .contact-form-textarea:focus {
    border: solid 1px #79cad1;
    font-size: 12px;
  }

  .contact-form-submit {
    border-radius: 25px;
    background: none;
    border: solid 1px #333;
    font-family: 'Raleway';
    font-size: 18px;
    margin: 30px 0 0;
    padding: 10px 15px;
    transition: 250ms;
    width: 15%;
  }

  .contact-form-submit:hover {
    border: solid 1px #5A8184;
    background-color: #79CAD1;
  }
/* CONTACT PORTION ENDS */